<div {{bind-attr class=":card isFlipped:flipped"}} {{action 'flip'}}>
    <div class="face front">
        {{word.name}}
    </div>

    <div class="face back">
        <h3>{{word.meaning}}</h3>
        <p>
        {{word.description}}
        </p>
    </div>
</div>
