<div class="row center-block width-1000">
  {{#each hotWord in hotWords itemController="discover/word"}}
     {{#with hotWord}}
      <div class="col-md-6 mb-15">
        <div {{bind-attr class=":set highlight:highlight hide:invisible"}}{{action 'hotSelect'}}>
          {{#if hotWord.model.flip}}
              {{hotWord.model.word.name}}
          {{else}}
              {{hotWord.model.word.meaning}}
          {{/if}}
        </div>
      </div>
       {{/with}}
  {{/each}}
</div>
{{partial "layout/navigation"}}
