<div class="row">
  <div class="center-block f-18 w-1000 position-relative">
  {{#each hotWord in hotWords itemController="discover/word"}}
     {{#with hotWord}}
      <div class="col-md-4 mb-15">
        <div {{bind-attr class=":set highlight:highlight hide:invisible"}}{{action 'hotSelect'}}>
          {{#if hotWord.model.flip}}
              {{hotWord.model.word.name}}
          {{else}}
              {{hotWord.model.word.meaning}}
          {{/if}}
        </div>
      </div>
       {{/with}}
  {{/each}}
  {{partial "layout/navigation"}}
  </div>
</div>
