<div class="row center-block width-1000">
  {{#each hotWord in hotWords itemController="discover/word"}}
     {{#with hotWord}}
      <div class="col-md-4 mb-15">
        <div {{bind-attr class=":set highlight:highlight hide:invisible"}}{{action 'hotSelect'}}>
          {{#if hotWord.model.flip}}
              {{hotWord.model.word.name}}
          {{else}}
              {{hotWord.model.word.meaning}}
          {{/if}}
        </div>
      </div>
       {{/with}}
  {{/each}}
</div>
<div class="row center-block height-50 width-800 navigation">
    <button type="button" class="btn btn-link f-25" {{action 'previous'}}>Previous</button>
    <button type="button" class="btn btn-link f-25" {{action 'next'}}>Next</button>
</div>
